.Admin
{
  @include form-styling;

  display: flex;

  &-col
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 36px;

    @media (max-width: $small-screen) 
    {
      margin-left: 0;
    }
  }

  @media (max-width: $small-screen)
  {
    padding-top: 48px;
    display: block;
  }

  &-teamMember
  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
  }

  &-teamMemberIcon
  {
    margin-right: 12px !important;
  }

  &-button
  {
    margin-left: 16px;
  }

  &-emailSection
  {
    margin-top: 24px;
  }

  &-deleteButton
  {
    width: 100%;
    max-width: 500px;
    margin-top: 24px;
  }

  &-statusSelect,
  &-approve
  {
    margin-left: auto !important;
  }
}

.Invite
{
  &-overlay
  {
    background: $black-shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &-formWrapper
  {
    @include responsive-container;

    display: flex;
    justify-content: center;
  }

  &-form
  {
    background-color: $white;
    padding: 24px;
  }

  &-heading
  {
    margin-bottom: 24px;
  }

  &-inviteButtons
  {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }

  &-addButtonContainer
  {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 16px;
  }

  &-submit
  {
    width: auto;
  }
}