.Comments
{
  position: relative;
  background-color: $white;
  margin-left: auto;
  height: 100%;

  &-container
  {
    padding-top: 48px;
    border-left: $border-black-2;
    overflow: scroll;
    transition: width 300ms ease-in-out;
    height: 100%;

    @media (max-width: $small-screen)
    {
      width: 250px;
    }
  }

  @media (min-width: $medium-screen)
  {
    width: 30%;
  }

  @media (max-width: $small-screen)
  {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }

  &--toggle
  {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    @media (max-width: $small-screen)
    {
      display: block;
    }
  }
  
  &--collapsed &-container
  {
    @media (max-width: $small-screen)
    {
      width: 0 !important;
    }
  }
  
  &--collapsed
  {
    background-color: transparent;
  }

  &-headings
  {
    padding-bottom: 24px;
    border-bottom: $border-gray-1;
  }

  &-headings,
  &-list
  {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-button
  {
    @include icon-button;
  }
}

.Comment
{
  display: flex;
  align-items: flex-start;
  padding: 8px;
  
  &:not(:first-child)
  {
    border-top: $border-gray-1;
  }

  &-top
  {
    display: flex;
  }

  &-timestamp
  {
    padding-left: 8px;
    color: $gray;
    font-size: 12px;
  }

  &-contentWrapper
  {
    margin-left: 12px;
  }

  &-form
  {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
  }
}
