.Settings
{
  @include form-styling;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-heading
  {
    text-align: center;
  }

  &-teamSelect,
  &-teamGrid
  {
    margin-bottom: 20px!important;
  }

  &-teamSelect,
  &-teamUpdate
  {
    display: flex;
    justify-content: space-between;
  }

  &-userWrapper
  {
    display: flex;
    justify-content: space-between;
  }

  button
  {
    height: fit-content;
  }

  .grid
  {
    width: 100%!important
  }

  &-deleteButton
  {
    width: 100%;
    max-width: 500px;
    margin-top: 24px !important;
  }

  &-header
  {
    text-align: center;
  }

  &-teamGrid,
  &-button
  {
    width: 100%!important;
  }
}
