.TeamOverview
{
  display: flex;
  height: 100%;
  
  @media (max-width: $small-screen)
  {
    padding-top: 48px;
    display: block;
  }

  &-container
  {
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;
    flex-grow: 1;
  }

  &-userStatsHeading
  {
    text-align: center;
    margin-top: 16px !important;
  }

  &-userStats
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
  }

  &-endDate
  {
    margin-top: 12px;
  }

  &-beginDateHeading,
  &-endDateHeading
  {
    margin-bottom: 8px !important;
  }
}