.TeamTaskbar
{
  position: relative;
  background-color: $white;

  @media (min-width: $medium-screen)
  {
    width: percentage(1 / 4);
  }

  @media (max-width: $small-screen)
  {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &--toggle
  {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    @media (max-width: $small-screen)
    {
      display: block;
    }
  }

  &--collapsed
  {
    @media (max-width: $small-screen)
    {
      width: 0 !important;
    }
  }

  &--collapsed &-container
  {
    @media (max-width: $small-screen)
    {
      width: 0 !important;
      border: 0 !important;
    }
  }

  &-container
  {
    border-right: $border-black-2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    overflow: hidden;
    transition: width 300ms ease-in-out;

    @media (max-width: $small-screen)
    {
      width: 250px;
    }
  }

  &-members
  {
    margin-top: 12px;
  }

  &-bottom
  {
    margin-bottom: 24px;
  }

  &-buttons
  {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
  }

  &-button
  {
    @include icon-button;
  }
}

.TaskbarItem
{
  padding: 24px;
  display: flex;
  align-items: center;

  &--selected
  {
    background-color: $gray-light;
  }

  &:hover
  {
    background-color: $gray-light;
    cursor: pointer;
  }

  &-text
  {
    margin-left: 12px;
  }
}